<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- util config -->
  <package>
    <name>Util</name>
    <raiseSite>
      <name>rSite2</name>
      <target>AssemblyToProcess.Util.JukeboxHelper.ToUpperLyric(string)</target>
      <channel>
        <name>EEC2</name>
        <exception>IndexOutOfBoundsException</exception>
        <exception>ArrayStoreException</exception>
        <interface>
          <name>LibException</name>
          <channel>EEC2</channel>
          <boundary>AssemblyToProcess.Util</boundary>
        </interface>
      </channel>
    </raiseSite>
  </package>

  <!-- model config -->
  <package>
    <name>Util</name>
    <raiseSite>
      <name>rSite1</name>
      <target>AssemblyToProcess.Model</target>
      <channel>
        <name>EEC1</name>
        <exception inner="true">RecordStoreException</exception>
        <interface>
          <channel>EEC1</channel>
          <boundary delegate="true">rSite1</boundary>
        </interface>
      </channel>
    </raiseSite>
    <raiseSite>
      <bypass>
        <channel>Util.EEC2</channel>
        <boundary delegate="true">rSite1</boundary>
      </bypass>
    </raiseSite>
  </package>
</configuration>